{% extends "base.html" %}
{% block body %}
  <h2>Permission Denied</h2>

  <p>We know who you are, but you don't have permission to see this page.</p>
  <p>Ask the administrator to give your account permission level <code>{{ required_permissions }}</code>.</p>
{% endblock %}
