<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="icon" href="{{ static }}/assets/admin.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ static }}/assets/all.css">
    {% block head %}{% endblock %}
</head>
<body>

  {% block body %}{% endblock %}

</body>
</html>
