body {
  font-family: Arial, Helvetica, sans-serif;
  width: min(32rem, 100%);
  margin: auto;
}

form {
  border: 0.2rem solid #f1f1f1;
}

input[type=text] {
  width: 100%;
  padding: 0.25rem 0.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 0.05rem solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 1.5rem 0 0.75rem 0;
}

img.avatar {
  width: 90%;
  border-radius: 50%;
}

.container {
  padding: 1rem;
}

span.psw {
  float: right;
  padding-top: 1rem;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 20rem) {
  span.psw {
     display: block;
     float: none;
  }
}

table {
  max-width: 100%;
}

.break-hover {
  display: inline-block;
  max-height: 2ex;
  line-height: 2ex;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: anywhere;  
}

.break-hover:hover,
.break-hover:active {
  max-height: inherit;  
}
