{% extends "base.html" %}
{% block body %}
  <h2>Login Required</h2>

  <form action="{{ base }}/creds" method="post">
    <label for="password">Enter your two-factor-authentication password.</label>
    <input type="password" id="password" name="password" placeholder="Password">
    <br><br>

    <input type="submit">
  </form>
    
{% endblock %}
