{% extends "base.html" %}
{% block body %}
  <h2>Change Password</h2>

  <form action="{{ base }}/edit_creds" method="post">
    <label for="current_password">Enter your current two-factor-authentication password.</label>
    <input type="password" id="current_password" name="current_password" placeholder="Current password">
    <br><br>

    <label for="new_password">Enter your desired two-factor-authentication password.</label>
    <input type="password" id="new_password" name="new_password" placeholder="New password">
    <br><br>

    <input type="submit">
  </form>
    
{% endblock %}
