{% extends "base.html" %}
{% block body %}
  <h2>HumanBios Admin Panel</h2>

  <p>You're in!</p>

  {% if owner %}
  <ul>
      <li><a href="{{ base }}/permissions">Permissions</a></li>
      <li><a href="{{ base }}/edit_creds">Change password</a></li>
  </ul>
  {% endif %}

{% endblock %}
