{% extends "base.html" %}
{% block body %}
  <h2>HumanBios Admin Panel</h2>

  <table>
    <tr>
      <th>
        Identity
      </th>
      <th>
        Permission
      </th>
    </tr>
    {% for user in data %}
      <tr>
        <td class="break-hover">{{ user.identity }}</td>
        <td>
          {{ user.permissions }} ({{ PermissionLevel(user.permissions) }})
        </td>
      </tr>
    {% endfor %}
  </table>

  <form action="{{ base }}/permissions" method="post">
    <input type="text" size="64" maxlength="64" name="identity" id="identity" placeholder="Identity">
    <br>

    <input type="checkbox" name="level_{{ Level.ADMIN.value }}" id="level_{{ Level.ADMIN.value }}">
    <label for="level_{{ Level.ADMIN.value }}">
      Admin
    </label>
    <br>

    <input type="submit">
  </form>
      
    
{% endblock %}
