{% extends "base.html" %}
{% block body %}
  <h2>HumanBios Admin Panel</h2>

  <table>
    <tr>
      <th>
        Language
      </th>
      <th>
        Key
      </th>
      <th>
        Value
      </th>
    </tr>
    {% for language, data in strings.items() %}
      {% for key, value in data.items() %}
        <tr>
          {% if loop.previtem is not defined %}
            <td rowspan="{{ data | count }}">
              {{ language }}
            </td>
          {% endif %}
          <td>
            {{ key }}
          </td>
          <td>
            {{ value }}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>


  <form action="{{ base }}/translations" method="post">
    <label for="languages">Select language</label>
    <select name="language" id="languages">
      {% for tag, human in languages.items() %}
        <option value="{{ tag }}">{{ human }}</option>
      {% endfor %}
    </select>
    <br>

    <label for="keys">Select key</label>
    <select name="key" id="keys">
      {% for key in keys %}
        <option value="{{ key }}">{{ key }}</option>
      {% endfor %}
    </select>
    <br>

    <input type="text" name="value" id="value" placeholder="Value">
    <br>

    <input type="submit">
  </form>

    
{% endblock %}
